* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header .logo-principal {
    width: 100vw;
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 10px; 
    position: fixed;
    top: 0;
    left: 0; 
}



.barra-pesquisa {
    display: flex;
    margin: 10px auto;  
    width: 80%;
    padding: 10px;
    border-radius: 40px;
}

.menu-nav {
    display: block;
    width: 100vw;
    
}

.menu-nav ul {
    margin: 0 auto;
    list-style: none;
}

.menu-nav ul li {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1rem;
    padding: 8px;
    border-bottom: 1px solid rgb(14, 12, 12);
    
}

.sessaoinformatica {
    display: flex;
}

.sessaoinformatica h1 {
    margin: 0 auto;
}

/* Conteudo do Main */

.produtosSite {
    display: flex;
    flex-direction: column;
    width: 100vw;   
}

.produtoDaLoja {
    width: 60vw;
    margin: 0 auto;
}

.tituloProduto, .descricaoProduto, .precoProduto {
    width: 70vw;
    margin: 10px auto;
    text-align: center;
}

.rodape {
    width: 100%;
    height: 10vh;
    background-color: rgb(29, 27, 27);
    
}

.rodape, .cotainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.rodape .cotainer, p {
    color: white;
    padding-bottom: 10px;   
}

/* Midias query */

@media screen and (min-width: 600px) {
    header .logo-principal {
        font-size: 3.5rem;  
    }

    .menu-nav {
        margin-top: 50px;
    }

    .menu-nav ul li {
        font-size: 1.5rem;
    }

    .tituloProduto {
        font-size: 3.5rem;
    }

    .descricaoProduto, .precoProduto {
        font-size: 1.7rem;
    }

    .rodape .cotainer, p {
        font-size: 1.5rem; 
    }
}

@media screen and (min-width: 1280px) {
    header, section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .barra-pesquisa {
        margin-top: 10rem;
    }

    .logo-principal {
        width: 30%;   
    }

    .menu-nav ul {
        display: flex;
        justify-content: space-evenly;  
    }

    .menu-nav ul li, a{
        border-bottom: none;
        text-decoration: none;  
        background-color: blue;
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .sessaoinformatica h1 {
        margin: 50px auto;
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }

    .produtosSite {
        width: 30%;
        align-items: center;
        margin: auto;
    }

    .produtoDaLoja {
        width: 50%;
        align-items: center;
        margin: 60px 0;
    }

    .tituloProduto, .descricaoProduto, .precoProduto {
        width: 50%;
        font-size: 1.5rem;
    }

    .rodape .cotainer p {
        font-size: 1.2rem;
        align-items: center;
        padding-bottom: 0;
    }   
}